input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: var(--field-bg);
  border: 1px solid var(--btn-border-clr);
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid var(--btn-border-hov-clr);
  outline: 0;
}

label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label>.label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal;
}



form>* {
  font: inherit;
}

#textarea {
  min-height: 18rem;
  min-width: 32rem;
}

.contact {


  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__form {
    display: flex;
    flex-direction: column;



    fieldset {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1rem;
    }
  }


}


.placeholder {
  color: var(--shadow-purple-400);
}

.terms {


  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 1rem;
  }

  &__txt, &__[type="checkbox"] {
  line-height: 1.7;
    /* margin-inline-start: .5em */
  }
}

/* @media (min-width: 1000px){
  .contact__wrapper {
    display: flex;
    flex-direction: row;
  }
} */