.projects {
  display: flex;
  flex-direction: column;
  gap: .4rem;

  img {
    border-radius: 20px;
    outline: 3px green solid;
    /* aspect-ratio: 4 / 3; */
    /* object-fit: cover; */
    overflow-y: hidden;



  }
}