.stats {


  h4 {
    /* line-height: 4; */

    font-size: var(--step-5);
    font-family: 'Outfit-Medium', sans-serif;
    text-transform: uppercase;

    /* color: var(--golden-harvest-800); */
  }

  &__tab {
    margin-block-end: 3.8rem;
    padding-block: 3.1rem;
    padding-inline: min(1.3rem, calc(2rem - 2vw));
    background-color: var(--field-bg);

    border-radius: 20px;
    /* border: 3px solid var(--shadow-purple-600); */
    outline: .3rem solid var(--shadow-purple-500);
  }


  &__info {
    font-size: var(--step-5);
    margin-inline-end: 1.1rem;
    border-bottom: 0.4rem solid var(--shadow-purple-950);
    color: var(--golden-harvest-950);
  }

}