@use "variables" as *;
@use "colors" as *;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  max-width: 100%;

}

body {
  background-color: var(--clr-bg);
  color: var(--clr-txt);
}

a {

  color: var(--nav-links);
  
  
  &:hover,
  &:visited,
  &:focus {
    color: var(--shadow-purple-800);
  }
}




@supports (a:any-links) {
  a:any-links {
    color: var(--shadow-purple-800);
  }
}