$sundance-50: #fbf9f1;
$sundance-100: #f6f1de;
$sundance-200: #ece0bc;
$sundance-300: #dfc892;
$sundance-400: #cfa75d;
$sundance-500: #c89647;
$sundance-600: #ba803c;
$sundance-700: #9a6634;
$sundance-800: #7c5230;
$sundance-900: #654429;
$sundance-950: #362214;

$black-50: #f7f7f7;
$black-100: #e3e3e3;
$black-200: #c8c8c8;
$black-300: #a4a4a4;
$black-400: #818181;
$black-500: #666666;
$black-600: #515151;
$black-700: #434343;
$black-800: #383838;
$black-900: #313131;
$black-950: #000000;

$casablanca-50: #fff8eb;
$casablanca-100: #fde9c8;
$casablanca-200: #fbd28c;
$casablanca-300: #f9b248;
$casablanca-400: #f89b27;
$casablanca-500: #f1770f;
$casablanca-600: #d65509;
$casablanca-700: #b1370c;
$casablanca-800: #902c10;
$casablanca-900: #762411;
$casablanca-950: #440f04;

$firefly-50: #f2f9fd;
$firefly-100: #e5f2f9;
$firefly-200: #c4e4f3;
$firefly-300: #91cee8;
$firefly-400: #56b6da;
$firefly-500: #309cc7;
$firefly-600: #207ea9;
$firefly-700: #1b6589;
$firefly-800: #1a5672;
$firefly-900: #1b485f;
$firefly-950: #0e2431;

$sea-pink-50: #fdf3f4;
$sea-pink-100: #fbe8eb;
$sea-pink-200: #f6d5da;
$sea-pink-300: #ea9daa;
$sea-pink-400: #e58799;
$sea-pink-500: #d75c77;
$sea-pink-600: #c13d60;
$sea-pink-700: #a22e4f;
$sea-pink-800: #882947;
$sea-pink-900: #752642;
$sea-pink-950: #411020;

$raffia-50: #fbf8f1;
$raffia-100: #f5eedf;
$raffia-200: #e8d5b7;
$raffia-300: #ddbf94;
$raffia-400: #ce9e69;
$raffia-500: #c3864c;
$raffia-600: #b67240;
$raffia-700: #975a37;
$raffia-800: #7a4a32;
$raffia-900: #633d2b;
$raffia-950: #351e15;

