@at-root :root {


  /* dark */

  --jaguar-50: #f4f4f7;
  --jaguar-100: #e4e5e9;
  --jaguar-200: #cccdd5;
  --jaguar-300: #a8aab8;
  --jaguar-400: #7d8093;
  --jaguar-500: #626578;
  --jaguar-600: #545666;
  --jaguar-700: #484956;
  --jaguar-800: #40414a;
  --jaguar-900: #2e2e35; // MAIN
  --jaguar-950: #232329;



  --fog-syringa-50: #f8f8fa;
  --fog-syringa-100: #f3f1f6;
  --fog-syringa-200: #e9e6ee;
  --fog-syringa-300: #d7d1e1;
  --fog-syringa-400: #c0b5ce; // MAIN
  --fog-syringa-500: #a898ba;
  --fog-syringa-600: #9580a7;
  --fog-syringa-700: #836d94;
  --fog-syringa-800: #6e5b7c;
  --fog-syringa-900: #5b4c66;
  --fog-syringa-950: #3c3144;



  --copper-50: #faf4ec;
  --copper-100: #f2e5cf;
  --copper-200: #e7caa1;
  --copper-300: #d8a86c;
  --copper-400: #cc8943;
  --copper-500: #b77234; // MAIN
  --copper-600: #a25b2c;
  --copper-700: #824226;
  --copper-800: #6d3826;
  --copper-900: #5e3025;
  --copper-950: #361812;

  /* light */

  --iron-maiden-50: #faf8fa;
  --iron-maiden-100: #f4f2f5;
  --iron-maiden-200: #ebe8ec;
  --iron-maiden-300: #dbd5dd;
  --iron-maiden-400: #cdc6d0; // MAIN
  --iron-maiden-500: #ada1b1;
  --iron-maiden-600: #9a8a9d;
  --iron-maiden-700: #87778a;
  --iron-maiden-800: #716473;
  --iron-maiden-900: #5d535f;
  --iron-maiden-950: #3d363f;



  --shadow-purple-50: #fcf7fc;
  --shadow-purple-100: #f7eff8;
  --shadow-purple-200: #efdef0;
  --shadow-purple-300: #e3c4e2;
  --shadow-purple-400: #d2a0d1;
  --shadow-purple-500: #bb7ab9;
  --shadow-purple-600: #9e5b9b;
  --shadow-purple-700: #82497e;
  --shadow-purple-800: #6b3d68;
  /* --shadow-purple-850: #4A2B48; */
  --shadow-purple-900: #4e2f4b; //MAIN
  --shadow-purple-950: #371b34;



  --golden-harvest-50: #f8fbeb;
  --golden-harvest-100: #f0f7ca;
  --golden-harvest-200: #e6f098;
  --golden-harvest-300: #dce75d;
  --golden-harvest-400: #d8df30;
  --golden-harvest-500: #c3c221; //MAIN
  --golden-harvest-600: #b2a61c;
  --golden-harvest-700: #8f7b19;
  --golden-harvest-800: #77621c;
  --golden-harvest-900: #66511d;
  --golden-harvest-950: #3b2c0d;

// END
  --clr-bg: var(--iron-maiden-100);
  --clr-txt: var(--shadow-purple-900);
  --clr-accent: var(--golden-harvest-500);



  --btn-clr: var(--shadow-purple-800);
  --btn-border-clr: var(--clr-accent);
  --btn-border-hov-clr: var(--clr-accent);
  --btn-bg: var(--shadow-purple-200);
  --btn-outline-clr: var(--sea-pink-950);
  --clr-navbar: var(--iron-maiden-200);

  --nav-links: var(--golden-harvest-600);
}