@use 'variables' as *;

@font-face {
  font-family: 'Lato';
  src: '../../assets/fonts/Lato-Regular.ttf';
}

@font-face {
  font-family: 'Monte';
  src: 'assets/fonts/Montserrat-Regular.ttf';
}


@font-face {
  font-family: 'PlayFair';
  src: '../../assets/fonts/PlayfairDisplay-Regular.ttf';
}

h1, h2{
  font-family: 'Lato', sans-serif;
  
}