:root {
  /*colors*/
 /*  --bg-primary: #f4eee0;
 --clr-accent: #6d5d6e;
 --clr-dark: #393646;
 --clr-light: #4f4557; */
  
  
  /* palette */
  
  
  
  /* typography*/

}



@property --a {
  initial-value: 0deg;
  inherits: false;
  syntax: '<angle>';
}

@property --h {
  initial-value: 0;
  inherits: false;
  syntax: '<number>';
}